SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=False
ISSUER=https://192.168.1.104:8000
DB_URL=postgresql+asyncpg://sso_user:sso_pass@db:5432/sso
REDIS_URL=redis://redis:6379/0
LICENSE_KEY=
COMMUNITY_MAX_CLIENTS=2
COMMUNITY_MAX_SOURCES=1
LDAP_URI=
LDAP_BASE_DN=
LDAP_BIND_DN=
LDAP_BIND_PASSWORD=

# OpenID Connect Configuration
OPENID_ISSUER=base_url
OPENID_AUTHORIZATION_ENDPOINT={base_url}/authorize
OPENID_TOKEN_ENDPOINT={base_url}/token
OPENID_USERINFO_ENDPOINT={base_url}/userinfo
OPENID_JWKS_URI={base_url}/jwks
OPENID_RESPONSE_TYPES_SUPPORTED=["code"]
OPENID_GRANT_TYPES_SUPPORTED=["authorization_code","refresh_token","client_credentials"]
OPENID_SUBJECT_TYPES_SUPPORTED=["public"]
OPENID_ID_TOKEN_SIGNING_ALG_VALUES_SUPPORTED=["RS256"]
OPENID_SCOPES_SUPPORTED=["openid","profile","email"]
OPENID_TOKEN_ENDPOINT_AUTH_METHODS_SUPPORTED=["client_secret_basic"]
OPENID_CLAIMS_SUPPORTED=["sub","name","given_name","family_name","preferred_username","email","email_verified"]